PORT=8000
HOST=0.0.0.0
HEADLESS=true
STORAGE_STATE_PATH=storageState.json
DATABASE_PATH=applications.db
GEMINI_API_KEY=tu_gemini_api_key_aqui
TELEGRAM_BOT_TOKEN=8929616203:AAGJ_XAfVo3AeKq_icY3HyJ0sN4ki5H0YVw
TELEGRAM_CHAT_ID=8929616203
